.logo-header {
  // background-color: #f8f8f8;
}

// .item-active img {
//   display: cover;
// }

.carousel-innter .carousel-image {
  margin-right: auto;
  margin-left: auto;
  display: auto;

}
.logo {
  margin-top: 50px;
  margin-left: 125px;
  // display: block;
  // float: left;
}

.navbar-brand {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.img-responsive {
  display: inline-block;
}

.site-info {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}
// .sidebar-nav {
//   margin-left: 50px;
// }


.navbar-default {
  background-color: #ffffff;
  border: none;
}

.navbar-right {
  margin-right: 100px;
}

.home {
  margin-top: 100px;
}

.jumbotron {
  background-image: url("/images/DSCN1078.jpg");
  background-size: cover;
  height: 800px;
}

// .navbar-default-mine {
//   margin-bottom: 100px;
//   background-color: #ffffff;
// }
// .hero-content {
//   background-image: url("/images/RSCN1192.jpg");
//   display-size: cover;
// }